/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}

.jumbotron {
  margin-bottom: 10px;
}

.jumbotron h1 {
  font-size: 60px;
}
.jumbotron p {
  text-align: justify;
}

.jumbotron .col-md-8 {
  padding-bottom: 40px;
}

.panel-title {
  text-align: center;
  margin-top: 10px;
}

.form-group {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Large desktop */
@media (min-width: 1200px) {

}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .jumbotron h1 {
    text-align: center;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .jumbotron {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
}
  .jumbotron h1 {
    font-size: 45px;
    text-align: center;
  }
  .jumbotron p {
    font-size: 18px;
  }
  .jumbotron btn {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
